body {
  margin: 0;
}
#myThreeJsCanvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
}

#text {
  color: white;
}

#menu-title {
  color: white;
  text-align: center;
}

#accord {
  margin: 20;
  width: 18%;
  position: fixed;
  background: rgba(25, 25, 25, 0.5);
  border: 1px solid rgba(45, 45, 45, 0.8);
  border-bottom: 0;
  border-radius: 2px;
}

#function-buttons {
  margin: 0;
  width: 20%;
  float: right;
}

#accordion-content {
  background-color: rgba(25, 25, 25, 0.5);
}

#accord-item {
  background-color: rgba(25, 25, 25, 0.5);
}

#accordion-header {
  background-color: rgba(25, 25, 25, 0.5);
}

#accord-text {
  color: white;
}

.global-class-name {
  color: #b0c9cf;
}

.back-button {
  background-color: rgba(25, 25, 25, 0.5);
  border-radius: 10px;
}

.container {
  margin-top: 10;
}

#screenshot-img {
  width: 100%;
  height: 100%;
}

#table-body {
  color: white;
}

#load-back {
  background: black;
}

#load-content {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

#load-svg {
  width: 15%;
  height: 15%;
  align-self: center;
  margin: auto;
}

#load-progress {
  width: 100%;
}

#load-button {
  margin: 20px;
}
